<div class="col-sm-8 col-sm-offset-2" ng-controller="CharacterEditController" data-ng-init="readCharacter()">
    <div class="row">
        <span ng-model="currentCharacter.name">Name: {{ currentCharacter.name }} </span>
    </div>
    <div class="row">
        <textarea class="form-control" ng-model="currentCharacter.description">
           Description sample
        </textarea>
    </div>
    <div class="row">
        <span ng-model="currentCharacter.totalExperience">
            Total experience: {{ currentCharacter.totalExperience }}
        </span>
    </div>
    <div class="row">
        <input class="form-control" ng-model="currentCharacter.remainingExperience" placeholder="{{ currentCharacter.remainingExperience }}" />
    </div>
    <button class="btn btn-success" ng-click="saveCharacter()">
        <span class="glyphicon glyphicon-plus-sign"> Submit</span>
    </button>
    <button class="btn btn-danger" ng-click="back()">
        <span class="glyphicon glyphicon-remove-sign"> Return to list</span>
    </button>
</div>